/* Persian font */
@font-face {
  font-family: 'BHoma';
  src: url('../fonts/BHoma.eot?#') format('eot'),  /* IE6–8 */
       url('../fonts/BHoma.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../fonts/BHoma.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}/* TODO: Change The persian font to vazir */

/* English font */
@font-face {
  font-family: 'Intel';
  src: url('../fonts/intel.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}